

.ContainerGenContacto{
    background-color: #F1D28F;
    margin-top: -1rem;
}

.formYubi{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cabecera{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;    
}

.cabecera h2{
    font-weight: 700;
    color: #E4572E;
}

.ubicacion{
    padding: 1rem;
}

.ubicacion h3{
    text-align: center;
    font-weight: 500;
    color: #E4572E;
}

.redesSociales{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.redesSociales div:hover{
    font-size: 3.5rem;
    transition: 0.5s;
    cursor: pointer;
    width: ;
}


@media screen and (max-width: 767px){
    .formYubi{
        grid-template-columns: 1fr;
    }

}

@media screen and (max-width: 991px){
    .formYubi{
        grid-template-columns: 1fr;
    }

}