*{
    
}

.tituloItemCarousel{
width: 70%;

}

.tituloItemCarousel h3{
    color:#ffffff;
    font-weight:900 ;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 1rem;
    text-align: center;
    align-items: center;
}


.contenedorCarousel{
    display: flex;
    justify-content: center;
    align-items: center;
}